adafruit-ampy==1.0.7
aiohttp==3.6.2
appdirs==1.4.3
apturl==0.5.2
Arpeggio==1.9.2
ase==3.20.1
ase-notebook==0.3.2
astroid==2.3.3
asttokens==2.0.3
async-timeout==3.0.1
attrs==19.3.0
autobahn==20.7.1
backcall==0.1.0
beautifulsoup4==4.8.2
bitstring==3.1.7
bleach==3.1.1
blinker==1.4
Brotli==1.0.9
catfish==1.4.13
certifi==2019.11.28
chardet==3.0.4
Click==7.0
Collectors==1.0
colorama==0.4.3
command-not-found==0.3
contextlib2==0.6.0.post1
coverage==5.3
cryptography==2.8
cupshelpers==1.0
cycler==0.10.0
Cython==0.29.21
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
defusedxml==0.6.0
distlib==0.3.1
distro==1.4.0
distro-info===0.23ubuntu1
dnspython==1.16.0
docutils==0.16
DyMat==0.7
ecdsa==0.15
entrypoints==0.3
esp==0.2.0
espy-cli==1.0.0
eventlet==0.28.0
filelock==3.0.12
Flask==1.1.2
Flask-Compress==1.5.0
Flask-SocketIO==4.3.1
future==0.18.2
gdbgui==0.14.0.0
gevent==20.9.0
gevent-websocket==0.10.1
greenlet==0.4.17
guizero==1.1.0
html5lib==1.0.1
httplib2==0.14.0
idf==0.0.1
idf-component-tools==0.1.0a7
idna==2.8
importlib-metadata==1.5.0
importlib-resources==3.0.0
ipykernel==5.2.0
ipypy==0.1.2
ipysheet-sg==0.2.1a1
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.4
itsdangerous==1.1.0
jedi==0.15.2
Jinja2==2.10.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.2
jupyter-console==6.0.0
jupyter-core==4.6.3
jupyter-server-proxy==1.5.0
keyring==18.0.1
kiwisolver==1.0.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.4.3
lightdm-gtk-greeter-settings==1.2.2
linecache2==1.0.0
logilab-common==1.4.3
lxml==4.5.0
Markdown==3.2.2
markdown-notebook==1.0
MarkupSafe==1.1.0
matplotlib==3.1.2
mccabe==0.6.1
menulibre==2.2.1
micropython-cpython-micropython==0.1.1
micropython-cpython-usocket==0.1
mistune==0.8.4
mock==4.0.2
ModelicaLanguage==0.0.0a6
monotonic==1.5
more-itertools==4.2.0
mugshot==0.4.2
multidict==4.7.6
mypy==0.782
mypy-extensions==0.4.3
nbconvert==5.6.1
nbformat==5.0.4
netifaces==0.10.4
nose==1.3.7
notebook==6.0.3
notebook-separate-output==1.0
nudatus==0.0.4
numpy==1.17.4
oauthlib==3.1.0
olefile==0.46
OMPython==3.2.0
onboard==1.4.1
OpenModelicaCompiler==0.0.0a1
pandocfilters==1.4.2
parso==0.5.2
pexpect==4.6.0
pgzero==1.2
pickleshare==0.7.5
Pillow==7.0.0
pkg-resources==0.0.0
prometheus-client==0.7.1
prompt-toolkit==2.0.10
psutil==5.5.1
pyaes==1.6.1
pycairo==1.16.2
pycodestyle==2.5.0
pycopy-cpython-micropython==0.2
pycopy-cpython-uio==0.3
pycopy-cpython-usocket==0.1
pycups==1.9.73
pyelftools==0.26
pyflakes==2.1.1
pygame==1.9.6
pygdbmi==0.10.0.0
Pygments==2.3.1
PyGObject==3.36.0
PyJWT==1.7.1
pylint==2.4.4
pymacaroons==0.13.0
PyNaCl==1.3.0
pyparsing==2.3.1
PyQt5==5.14.1
pyrsistent==0.15.5
pyserial==3.4
python-apt==2.0.0+ubuntu0.20.4.1
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
python-dotenv==0.14.0
python-engineio==3.13.2
python-socketio==4.6.0
pyudev==0.22.0
PyYAML==5.3.1
pyzmq==18.1.1
qtconsole==4.6.0
reedsolo==1.5.4
reportlab==3.5.34
requests==2.22.0
requests-unixsocket==0.2.0
roman==2.0.0
rshell==0.0.28
schema==0.7.2
scipy==1.5.2
SecretStorage==2.3.1
semantic-version==2.8.5
semver==2.0.1
Send2Trash==1.5.0
sgt-launcher==0.2.5
simpervisor==0.3
simplejson==3.16.0
simpy==4.0.1
simpy-events==0.0.1
simpy-helpers==1.2.0
sip==4.19.21
six==1.14.0
soupsieve==1.9.5
svgwrite==1.4
systemd-python==234
terminado==0.8.2
terminaltables==3.1.0
testpath==0.4.4
thonny==3.2.7
tornado==5.1.1
traceback2==1.4.0
traitlets==4.3.3
txaio==20.4.1
typed-ast==1.4.1
typing==3.7.4.3
typing-extensions==3.7.4.3
ubuntu-advantage-tools==20.3
ubuntu-drivers-common==0.0.0
uflash==1.2.4
ufw==0.36
unattended-upgrades==0.1
unittest2==1.1.0
urllib3==1.25.8
virtualenv==20.0.31
vpython==7.6.1
wadllib==1.3.3
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==0.16.1
widgetsnbextension==3.5.1
wrapt==1.11.2
xcffib==0.8.1
xkit==0.0.0
yarl==1.5.1
zipp==1.0.0
zope.event==4.5.0
zope.interface==5.1.0
